@page
@model PaniMusic.Ui.Pages.PaniAdmin.Users.EditUserModel
@{
    ViewData["Title"] = $"ویرایش کاربر {Model.MyUser.Name}";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">ویرایش کاربر @Model.MyUser.Name</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-left">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row d-flex justify-content-center">

            <div class="col-8">


                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">ویرایش</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.Id"></label>
                                <input asp-for="Input.Id" class="form-control" value="@Model.MyUser.Id" readonly>
                                <span asp-validation-for="Input.Id" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control" value="@Model.MyUser.Name">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" value="@Model.MyUser.Email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            @if (Model.MyUser.EmailConfirmed == true)
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="Input.EmailConfirmed" checked class="form-check-input" style="margin-left: 5px;">تایید ایمیل
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="Input.EmailConfirmed" class="form-check-input" style="margin-left: 5px;">تایید ایمیل
                                    </label>
                                </div>
                            }

                            <div style="border-bottom: 2px solid #e1e2e4;margin-top: 30px;">
                                <label class="text-info">دسترسی ها</label>
                            </div>

                            @{
                                foreach (var item in Model.HasClaims)
                                {
                                    switch (item)
                                    {
                                        case "UserPanel":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.UserPanel" class="form-check-input" checked style="margin: 20px 10px">پنل کاربری
                                                </label>
                                            </div>
                                            break;

                                        case "AdminPanel":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.AdminPanel" class="form-check-input" checked style="margin: 20px 10px">پنل ادمین
                                                </label>
                                            </div>
                                            break;

                                        case "NewItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.NewItem" class="form-check-input" checked style="margin: 20px 10px">ایجاد آیتم
                                                </label>
                                            </div>
                                            break;

                                        case "EditItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.EditItem" class="form-check-input" checked style="margin: 20px 10px">ویرایش آیتم
                                                </label>
                                            </div>
                                            break;

                                        case "DeleteItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.DeleteItem" class="form-check-input" checked style="margin: 20px 10px">حذف آیتم
                                                </label>
                                            </div>
                                            break;
                                    }
                                }
                            }

                            @{
                                foreach (var item in Model.HasNotClaims)
                                {
                                    switch (item)
                                    {
                                        case "UserPanel":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.UserPanel" class="form-check-input" style="margin: 20px 10px">پنل کاربری
                                                </label>
                                            </div>
                                            break;

                                        case "AdminPanel":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.AdminPanel" class="form-check-input" style="margin: 20px 10px">پنل ادمین
                                                </label>
                                            </div>
                                            break;

                                        case "NewItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.NewItem" class="form-check-input" style="margin: 20px 10px">ایجاد آیتم
                                                </label>
                                            </div>
                                            break;

                                        case "EditItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.EditItem" class="form-check-input" style="margin: 20px 10px">ویرایش آیتم
                                                </label>
                                            </div>
                                            break;

                                        case "DeleteItem":
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input asp-for="Input.DeleteItem" class="form-check-input" style="margin: 20px 10px">حذف آیتم
                                                </label>
                                            </div>
                                            break;
                                    }
                                }
                            }

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">ثبت</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#users-list').addClass('menu-open');
            $('#users-link').addClass('active');
            $('#allusers-link').addClass('active');
        });
    </script>
}