@page
@model PaniMusic.Ui.Pages.AboutUsModel
@{
    ViewData["Title"] = "درباره ما";
    ViewData["metadescription"] = "رسانه پانی موزیک فعالیت خود را از فروردین 1400 در حوزه موسیقی آغاز کرد";
    ViewData["metakeywoard"] = "پانی موزیک";
}


<main id="main">


    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">

                <div class="ps">

                    <div class="pstop">
                        <h1 class="top-title">
                            <a href="#">
                                درباره ما
                            </a>
                        </h1>
                    </div>

                    <div class="aboutus text-right">
                        <h3>موسیقی چیست ؟</h3>
                        <p>
                            موسیقی هنری ترکیب یافته از صداها با کشش های متفاوت است. عوامل تشکیل دهنده ی آن شامل ریتم (وزن) و ملودی (آهنگ) می باشد. کلمه موسیقی در اصل واژه ایست یونانی برگرفته از (Mousika) و مشتق از کلمه (Muse) نام یکی از نه اله حافظ شعر و هنرهای یونان باستان است.
                        </p>
                        <h3>
                            اهمیت موسیقی
                        </h3>
                        <p>
                            بسیاری از ما این تجربه را داریم و می‌دانیم که موسیقی خاص، عمیقا با خاطرات شخصی مرتبط است. وقتی موسیقی از گذشته را می‌شنویم، نه تنها موسیقی را به یاد می‌آوریم، بلکه مکان‌ها، رویدادها و مردم را نیز به یاد خواهیم آورد. این تم اصلی فیلم LA LA LAND بود. اگر این موسیقی است که ما آن را دوست داریم، اکنون آن را دوست داریم و خوب است که دوباره آن را بشنویم. گوش دادن به موسیقی مورد علاقه سبب می‌شود تمام بدن با استرس مقابله ‌کند.
                        </p>
                        <h3>
                            درباره پانی موزیک
                        </h3>
                        <p>
                            این وبسایت با هدف ارائه خدمات موسیقی در فروردین 1400 ایجاد شد. امید است که وجود این وبسایت مفید واقع شود.
                        </p>
                        <p>
                            مدیر وبسایت : پارسا ویسانی
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <partial name="_SidebarPartial" />
            </div>
        </div>
    </div>


</main>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#mymenu-about').addClass('active');
        });
    </script>
}