@page
@model PaniMusic.Ui.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیر مجاز";
}

<main id="main">


    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">

                <div class="d-flex justify-content-center" style="margin-bottom: 30px;">
                    <a href="#"><img src="~/img/AccessDenied.jpg"></a>
                </div>

            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <partial name="_SidebarPartial" />
            </div>
        </div>
    </div>


</main>