@page
@model PaniMusic.Ui.Pages.My404PageModel


    <main id="main">


        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12">

                    <div class="d-flex justify-content-center" style="margin-bottom: 30px;">
                        <a href="#"><img src="~/img/404.jpg"></a>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-5 col-md-12">
                    <form action="#" style="display: flex;margin-bottom: 25px;">
                        <input type="text" class="form-control searchbox-input" placeholder="جستجوی آهنگ">
                        <button type="submit" class="btn btn-primary searchbox-submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    <partial name="_SidebarPartial" />
                </div>
            </div>
        </div>


    </main>