@page
@model PaniMusic.Ui.Pages.Account.EmailConfirmedModel
@{
    ViewData["Title"] = "تایید ایمیل";
}


<h3 class="text-right">ایمیل با موفقیت تایید شد</h3>
<div style="font-size: 15px;margin-bottom: 15px;color: #47b2e4;">
    <i class="fa fa-check" style="margin-left: 10px;"></i><b class="text-right">ایمیل شما با موفقیت تایید شد و هم اکنون می‌توانید از امکانات پنل کاربری استفاده کنید.</b>
</div>
<div class="page-links" style="margin-bottom: 15px;">
    <a asp-page="/PaniAdmin/Index">پنل کاربری</a>
</div>
<div class="page-links">
    <a asp-page="/Index">بازگشت به صفحه اصلی</a>
</div>

