@page
@model PaniMusic.Ui.Pages.Account.ForgetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فراموشی رمز عبور | پانی موزیک</title>
    <link href="~/img/favicon.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/formstyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/myformstyle.css">
</head>
<body>
    <div class="form-body without-side">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="~/img/graphic3.svg">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items text-right" dir="rtl">
                        <img src="~/img/logo.png" style="margin-bottom: 35px;padding-right: 35px;">
                        <h3 class="text-right">بازیابی رمز عبور</h3>
                        <p class="text-right">برای بازیابی رمز عبور ، ایمیلی را که با آن ثبت نام کرده‌اید را وارد نمایید.</p>
                        <form>
                            <input class="form-control text-right" type="text" name="username" placeholder="ایمیل" required>
                            <div class="form-button full-width">
                                <button id="submit" type="submit" class="ibtn btn-forget">ارسال لینک بازیابی</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>