@page
@model PaniMusic.Ui.Pages.Account.ForgetPasswordModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}


<h3 class="text-right">بازیابی رمز عبور</h3>
<p class="text-right">برای بازیابی رمز عبور ، ایمیلی را که با آن ثبت نام کرده‌اید را وارد نمایید.</p>
<form method="post">

    @if (Model.Result != null && Model.Result == true)
    {
        <div style="font-size: 15px;margin-bottom: 15px;color: #47b2e4;">
            <i class="fa fa-check" style="margin-left: 10px;"></i><b class="text-right">اگر ایمیل معتبر باشد ، لینک فراموشی رمز عبور به ایمیل ارسال شده است .</b>
        </div>
    }
    @if (Model.NotAccepted != null && Model.NotAccepted == true)
    {
        <div style="font-size: 15px;margin-bottom: 15px;color: #47b2e4;">
            <i class="fa fa-check" style="margin-left: 10px;"></i><b class="text-right">برای استفاده از سیستم بازیابی رمز عبور ، ابتدا باید ایمیل خود را تایید کرده باشید .</b>
        </div>
    }
    <input class="form-control text-right" asp-for="Input.Email" placeholder="ایمیل" required>
    <div class="form-button full-width">
        <button id="submit" type="submit" class="ibtn btn-forget">ارسال لینک بازیابی</button>
    </div>
</form>
