@page
@model PaniMusic.Ui.Pages.Account.LoginModel
@{
    ViewData["Title"] = "ورود";
}


<h3 class="text-right">ورود به حساب کاربری</h3>
<p class="text-right" style="font-size: 16px;">برای دسترسی به برخی از امکانات وبسایت ، ابتدا باید وارد حساب کاربری خود شوید.</p>
<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.AccountLockOut != null)
    {
        <div style="font-size: 15px;margin-bottom: 15px;color: #dc3545;">
            <i class="fa fa-ban" style="margin-left: 10px;"></i><b class="text-right">@Model.AccountLockOut</b>
        </div>
    }
    <input class="form-control text-right" asp-for="Input.Email" placeholder="ایمیل" required>
    <input class="form-control text-right" asp-for="Input.Password" placeholder="رمز عبور" required>
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">ورود</button>
        <a asp-page="ForgetPassword">رمز عبور را فراموش کرده‌اید؟</a>
    </div>
</form>
<div class="other-links">

</div>
<div class="page-links">
    <a asp-page="Register">ایجاد حساب کاربری جدید</a>
</div>
