@page
@model PaniMusic.Ui.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}


<h3 class="text-right">ایجاد حساب کاربری جدید</h3>
<p class="text-right">با ایجاد حساب کاربری ، می‌توانید فعالیت خود را در وبسایت شروع کنید</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.Result != null && Model.Result.Succeeded == true)
    {
        <div style="font-size: 15px;margin-bottom: 15px;color: #47b2e4;">
            <i class="fa fa-check" style="margin-left: 10px;"></i><b class="text-right">حساب کاربری شما ایجاد شد . برای تکمیل حساب کاربری ، ایمیل خود را تایید نمایید.</b>
        </div>
    }
    <input class="form-control text-right" asp-for="Input.Name" placeholder="نام و نام خانوادگی">
    <input class="form-control text-right" asp-for="Input.Email" placeholder="ایمیل">
    <input class="form-control text-right" asp-for="Input.Password" placeholder="رمز عبور">
    <input class="form-control text-right" asp-for="Input.ConfirmPassword" placeholder="تکرار رمز عبور">
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">ثبت نام</button>
    </div>
</form>
<div class="page-links" style="margin-top: 38px;">
    <a asp-page="Login">ورود به حساب کاربری</a>
</div>
