@page
@model PaniMusic.Ui.Pages.Account.UpdatePasswordModel
@{
    ViewData["Title"] = "بروز رسانی رمز عبور";
}

<h3 class="text-right" style="margin-bottom: 30px;">بروز رسانی رمز عبور</h3>
<form method="post">
    @if (Model.Result != null && Model.Result == true)
    {
        <div style="font-size: 15px;margin-bottom: 15px;color: green;">
            <i class="fa fa-check" style="margin-left: 10px;"></i><b class="text-right">رمز عبور با موفقیت بروز شد .</b>
        </div>
    }
    <div asp-validation-summary="All" class="text-danger"></div>
    <input class="form-control text-right" asp-for="Input.NewPassword" placeholder="رمز عبور جدید" required>
    <input class="form-control text-right" asp-for="Input.ConfirmNewPassword" placeholder="تکرار رمز عبور جدید" required>
    <input type="hidden" asp-for="Input.UserName" value="@ViewData["UserName"]" />
    <input type="hidden" asp-for="Input.Token" value="@ViewData["Token"]" />
    <div class="form-button full-width">
        <button id="submit" type="submit" class="ibtn btn-forget">ارسال</button>
    </div>
</form>