@page
@model PaniMusic.Ui.Pages.PaniAdmin.Styles.NewStyleModel
@{
    ViewData["Title"] = "سبک جدید";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">افزودن سبک جدید</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-left">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row d-flex justify-content-center">

            <div class="col-8">


                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">افزودن</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" enctype="multipart/form-data">
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Description"></label>
                                <textarea id="mytextarea" asp-for="Input.Description"></textarea>
                                <span asp-validation-for="Input.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Link"></label>
                                <input asp-for="Input.Link" class="form-control">
                                <span asp-validation-for="Input.Link" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.TitleTag"></label>
                                <input asp-for="Input.TitleTag" class="form-control">
                                <span asp-validation-for="Input.TitleTag" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.MetaDescription">تگ meta description</label>
                                <input asp-for="Input.MetaDescription" class="form-control">
                                <span asp-validation-for="Input.MetaDescription" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.MetaTag">تگ meta keywoard</label>
                                <input asp-for="Input.MetaTag" class="form-control">
                                <span asp-validation-for="Input.MetaTag" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">ثبت</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#styles-list').addClass('menu-open');
            $('#styles-link').addClass('active');
            $('#newstyle-link').addClass('active');
        });
        tinymce.init({
            selector: '#mytextarea',
            height: 950,
            plugins: 'print preview fullscreen image link media template codesample table charmap hr help',
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat |fullscreen',
            language: 'fa_IR',
            directionality: 'rtl'
        });
    </script>
}